data/Task01_BrainTumour.h5
starter_files
data/GBM_test_images.zip
data/GBM_test_labels.zip
data/LGG_test_images.zip
data/LGG_test_labels.zip
data/cleanup/
data/patient_list/	
data/test_images/
data/test_labels/
data/val_images/
data/val_labels/
data/zip_files/
data/patient_list/
.ipynb_checkpoints/
.DS_Store
data/train_labels.zip
